<h1>id: <%= @Task.id %> のタスク詳細ページ</h1>

<p><%= @Task.content %></p>

<%= link_to '一覧に戻る', taks_pask %>
<%= link_to 'このタスクを編集する', edit_task_path(@Task) %>
<%= link_to 'このタスクを削除する', @Task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>